apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: observability
data:
  grafana.ini: |
    [server]
    domain = grafana.mycolorforge.com
    root_url = https://grafana.mycolorforge.com
    serve_from_sub_path = false

    [security]
    admin_user = admin
    admin_password = ColorForge2025!
    disable_gravatar = true

    [users]
    allow_sign_up = false
    auto_assign_org = true
    auto_assign_org_role = Viewer

    [auth]
    disable_login_form = false

    [auth.anonymous]
    enabled = false

    [analytics]
    reporting_enabled = false
    check_for_updates = false

    [log]
    mode = console
    level = info

    [feature_toggles]
    enable = traceqlEditor tempoSearch tempoBackendSearch tempoServiceGraph traceToMetrics correlations

    [unified_alerting]
    enabled = true

    [alerting]
    enabled = false
