apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-config
  namespace: backstage
data:
  app-config.yaml: |
    app:
      title: ColorForge Developer Portal
      baseUrl: https://dev.mycolorforge.com

    organization:
      name: ColorForge

    backend:
      baseUrl: https://dev.mycolorforge.com
      listen:
        port: 7007
      csp:
        connect-src: ["'self'", 'http:', 'https:']
      cors:
        origin: https://dev.mycolorforge.com
        methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
        credentials: true
      database:
        client: pg
        connection:
          host: ${POSTGRES_HOST}
          port: ${POSTGRES_PORT}
          user: ${POSTGRES_USER}
          password: ${POSTGRES_PASSWORD}
          database: ${POSTGRES_DB}

    integrations:
      github:
        - host: github.com
          token: ${GITHUB_TOKEN}

    techdocs:
      builder: 'local'
      generator:
        runIn: 'local'
      publisher:
        type: 'local'

    auth:
      providers:
        guest:
          dangerouslyAllowOutsideDevelopment: true

    catalog:
      import:
        entityFilename: catalog-info.yaml
        pullRequestBranchName: backstage-integration
      rules:
        - allow: [Component, System, API, Resource, Location, Template, Group, User]
      providers:
        github:
          colorforgeOrg:
            organization: 'r7next'
            catalogPath: '/catalog-info.yaml'
            filters:
              repository: 'mycolorforge-.*'
            schedule:
              frequency: { minutes: 30 }
              timeout: { minutes: 3 }
      locations: []

    kubernetes:
      serviceLocatorMethod:
        type: 'multiTenant'
      clusterLocatorMethods:
        - type: 'config'
          clusters:
            - url: https://kubernetes.default.svc
              name: colorforge-cluster
              authProvider: 'serviceAccount'
              skipTLSVerify: true
              skipMetricsLookup: true
              customResources:
                - group: 'tekton.dev'
                  apiVersion: 'v1'
                  plural: 'pipelineruns'
                - group: 'tekton.dev'
                  apiVersion: 'v1'
                  plural: 'taskruns'

    argocd:
      baseUrl: http://argocd-server.argocd.svc.cluster.local
      appLocatorMethods:
        - type: 'config'
          instances:
            - name: argocd
              url: http://argocd-server.argocd.svc.cluster.local

    sonarqube:
      baseUrl: http://sonarqube.sonarqube.svc.cluster.local:9000
      apiKey: ${SONARQUBE_TOKEN}
